
<div class="bg-img">

    <section class="view intro-2">
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class= "col-12 img-icon">
                        <img [src]="'assets/img/cloudIcon.png'" alt="image">
                    </div>
                    <form class="col-12">
                        <div class="form-group" id="user">
                            <input type="text" class="form-control" placeholder="Nombre de usuario" id = "inputUser" />
                        </div>
                        <button type="button" class="btn btn-primary" id = "buttonLogIn" (click)="sendUserName()">
                            <i class="fas fa-sign-in-alt"></i>  Log in
                        </button>
                    </form>
                    <div class=registrarse> 
                        <a href="register">Registrarse</a>
                    </div>
                </div>
                
            </div>

        </div>
    </section>

</div>