<div class="bg-img">

    <section class="view intro-2">
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
                <div class="modal-content">
                    <div class= "col-12 img-icon">
                        <img [src]="'assets/img/cloudIcon.png'" alt="image">
                    </div>
                    <form class="col-12">
                        <div class="form-group" id="user">
                            <input type="text" class="form-control" placeholder="Nombre de usuario"/>
                        </div>
                        <div class="form-group" id="almacenamiento">
                            <input type="number" class="form-control" placeholder="Almacenamiento">
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-sign-in-alt"></i>  Registrarse
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </section>

</div>