.contenedor {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.enlace:hover {
    cursor: pointer;
    color: #0055dd;
}

.enlace{
    color: black;
}

.fas{
    font-size: 22px;
}