.contenedor {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.enlace:hover {
    cursor: pointer;
    color: #0055dd;
}

.enlace{
    color: black;
}

.fas{
    font-size: 22px;
}

.dropdown-toggle::after {
    display:none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.eliminar:hover, .eliminar:focus {
    background: #d9534f;
    color: white;
}