<div class="contenedor">

    
    <span (click)="goToRoot()" class="enlace">{{usuario}}</span>
    <span *ngFor="let ruta of path"> / <span (click)="goBackTo(ruta)" class="enlace">{{ruta}}</span></span>

    <table class="table">
        <thead>
            <tr>
                <th scope="col-1"></th>
                <th scope="col-1"><i class="fas fa-file"></i></th>
                <th scope="col-8">Nombre</th>
                <th scope="col-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of pathActual.contenido">
                <th><input type="checkbox"></th>
                <th>
                    <i class="fas" [ngClass]="{'fa-file-alt' : fila.tipo == 'archivo', 'fa-folder' : fila.tipo == 'carpeta'}"></i>
                </th>
                <th>
                    <span class="enlace" *ngIf="fila.tipo == 'archivo'" (click)="open(fila)">{{fila.nombre}}.{{fila.extension}}</span>
                    <span class="enlace" *ngIf="fila.tipo == 'carpeta'" (click)="goToPath(path, fila.nombre)">{{fila.nombre}}</span>
                </th>
                <th><i class="fas fa-ellipsis-v"></i></th>
            </tr>
        </tbody>
    </table>

</div>