<div class="contenedor">


    <span (click)="goToRoot()" class="enlace">{{usuario}}</span>
    <span *ngFor="let ruta of path"> / <span (click)="goBackTo(ruta)" class="enlace">{{ruta}}</span></span>

    <table class="table">
        <thead>
            <tr>
                <th scope="col-1"></th>
                <th scope="col-1"><i class="fas fa-file"></i></th>
                <th scope="col-8">Nombre</th>
                <th scope="col-2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fila of pathActual.contenido">
                <th class="align-middle"><input type="checkbox"></th>
                <th class="align-middle">
                    <i class="fas"
                        [ngClass]="{'fa-file-alt' : fila.tipo == 'archivo', 'fa-folder' : fila.tipo == 'carpeta'}"></i>
                </th>
                <th class="align-middle">
                    <span class="enlace" *ngIf="fila.tipo == 'archivo'"
                        (click)="open(fila)">{{fila.nombre}}.{{fila.extension}}</span>
                    <span class="enlace" *ngIf="fila.tipo == 'carpeta'"
                        (click)="goToPath(path, fila.nombre)">{{fila.nombre}}</span>
                </th>
                <th class="align-middle">
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn" id="dropdownBasic1" ngbDropdownToggle><i
                                class="fas fa-ellipsis-v"></i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button (click)="goToPath(path, fila.nombre)" *ngIf="fila.tipo == 'carpeta'" ngbDropdownItem>Abrir</button>
                            <button (click)="open(fila)" *ngIf="fila.tipo == 'archivo'" ngbDropdownItem>Editar</button>
                            <button ngbDropdownItem>Compartir</button>
                            <button ngbDropdownItem>Copiar</button>
                            <button ngbDropdownItem>Mover</button>
                            <button (click)="verPropiedades(fila)" ngbDropdownItem>Propiedades</button>
                            <hr>
                            <button (click)="eliminarUno(path, fila)" class="eliminar" ngbDropdownItem>Eliminar</button>
                        </div>
                    </div>

                </th>

            </tr>
        </tbody>
    </table>



</div>